body {
  font-family: sans-serif;
  background: #fefefe;
  background-image: url(builds/5639123080002ebdba4172ef5645f16a.jpg);
  background-size: cover; }

h1 {
  font-size: 5rem;
  font-weight: bold; }
